*{
    margin: 0;
    box-sizing: border-box;
}
canvas {
    position:absolute;
    background: black;
    padding: 0;
    bottom:0
}
div.currentSong {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: rgba(0,0,0,0.0);
    position:fixed;
    bottom: calc(7%);
    left: calc(2%);
}
div.controls {
    border-radius: 25px;
    background-color: transparent;
    position:fixed;
    bottom:calc(50% - 100px);
    font-size: 18px;
    left:auto;
    right:0px;
    padding: 20px;
    font-family: ‘Roboto’, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}
input {
    background-color: black; 
    color: white;
}
body {
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    font-family: ‘Roboto’, sans-serif; 
    overflow: hidden;
}
button {
    position: fixed;  
    bottom:calc(10px);
    left:calc(10px);
    background-color: black;
    color:white;
}
label.autoToggle {
    background-color: transparent;
    position:fixed;
    bottom:10px;
    font-size: 18px;
    right:10px;
    font-family: ‘Roboto’, sans-serif;
}
.mic-icon {
    background-color: transparent;
    /* padding: 20px; */
    /* display: flex; */
    /* justify-content: center; */
    position: fixed;
    bottom: 10px;
    /* text-align: center; */
    left: calc(50% - 15px);  /*50% - half of icon width*/
  }